# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Backend files
/__pycache__/
/backend/__pycache__/
/backend/root_password.py
/backend/sdk.json
/backend/setup_cred.py
/backend/plaid_client_config.py
